      body {
        margin: 0 auto;
    margin-top: 14px;
    padding: 0 2em;
    text-align: center;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    color: #000;
    color: #444;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;   
    
}   
a{color: #fff;}
form{margin-top: -14px;}
#brands{
    padding: 12px;
    background-color: #d3e362;
    margin-top: 14px;   
        font-size: 16px;
        color: #000;
}
button{
    cursor: pointer;    
    background-color: #34495E;
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.wrapper {
    width: 100%;
    max-width: 1024px;
}

input[type=text] {
    box-sizing: border-box;
    width: 25%;
    padding: 12px 20px 12px 40px;
    min-width: 130px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 36%;
}
input[type=text]:hover {
    width: 36%;
}
@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";

.rwd-table {
    margin: 1em 0;
    margin: 0 auto;
    margin-top: 14px;
  min-width: 55%;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    display: inline-block;
    width: 6.5em;
    font-weight: bold;
}

@media(min-width:480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media(min-width:480px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}

.rwd-table {
    border-radius: .4em;
    overflow: hidden;
    color: #fff;
    background: #34495E;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
    margin: .5em 1em;
}

@media(min-width:480px) {
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#moreInfo {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    text-align: left;
    font-size: 0.9em;
    background-color: #FFF;
}

#moreInfo ul {
    display: inline-table;
    line-height: 18px;
    list-style: none;
}

#moreInfo img {
    float: right;
    width: 40%;
    margin: 2%;
}

.closeBtn {
    float: right;
    position: absolute;
    top: -10px;
    right: -10px;
    margin-top: 0;
    margin-left: 0;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 25px;
    font-weight: bold;
    color: #dd5;
    background-color: #34495E;
    cursor: pointer;
}
h3{margin-bottom: 6px;
    margin-left: -26px; }
#recent li
{
        display: inline-block;
    margin-right: 14px;
    line-height: 20px;
    cursor: pointer;      
}
#cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000;
}

h2 {
    margin: 10px;
    margin-bottom: 0;
}
.remove:hover{
    text-decoration: none;
}
